/************************************************
 * 1. Styles for our Page
 * http://www.colourlovers.com/palette/4480928/If_Water_Could_Talk
 *************************************************/

#footer {
	margin: 10px;
}

#header {
	margin: 10px;
}

.panel-heading {
	background-color: #A3C2BA;
}






/************************************************
 * 2. Styles related to our Bar Graph
 *************************************************/

.bar {
	fill: #C0D6CC;
}
.bar:hover {
	fill: #37386B;
}

.tt {
	font-family: sans-serif;
	font-size: 10px;
	fill: black;
}
